<h2>Local</h2>
<input type="hidden" value="{{user._id}}" class="userID">
<strong>Firstname: </strong>{{user.local.firstname}} <button class="updateFirstname btn btn-primary btn-sm">Update
    First Name</button>
<br />
<strong>Lastname: </strong>{{user.local.lastname}} <button class="updateLastname btn btn-primary btn-sm">Update Last
    Name</button>
<br />
<strong>Zip: </strong>{{user.local.zip}} <button class="updateZip btn btn-primary btn-sm">Update Zip</button>
<br />
<strong>Email: </strong>{{user.local.email}} <button class="updateEmail btn btn-primary btn-sm">Update Email</button>
<br />
<br />
<h2>Facebook</h2>
<strong>Email: </strong>{{user.facebook.email}}
<br />
<strong>Display Name: </strong>{{user.facebook.displayname}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="./js/updateProfile.js"></script>